
@{
    ViewBag.Title = "ForgotPassord";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = Convert.ToString(TempData["Message"]);
}


<link href="~/Content/LoginCss.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>

<style>
    footer {
        margin-top: 0;
    }

    .login-box {
        padding: 5rem 0;
        max-width: 1500px;
    }

    .logon-wrap {
        background-color: #ffffff4d;
        padding: 3rem 1rem;
        margin: 0 0.5rem;
        border-radius: 10px;
    }

    .inbor {
        border: 1px solid #21252908;
        background: #21252908;
    }
</style>

<div class="img" style="background-image: url(/Content/Images/login-bg.png);">
    <section class="ftco-section">
        <div class="container login-box">

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="logon-wrap">
                        <div class="login-wrap p-0">
                            <h3 class="mb-4 text-center">Forgot Password</h3>
                            <form id="LoginForm">
                                <div class="form-group">
                                    <label class="Account-label"><i class="fa fa-envelope" aria-hidden="true"></i></label>
                                    <input name="EmailId" id="EmailId" class="form-control inbor" type="email" placeholder="Your Email" required>
                                </div>
                                <div class="form-group">
                                    <button type="button" id="UserLogin" class="btn btn-darken btn-inline">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $("#UserLogin").prop('disabled', false);
    $("#LoginForm").validate({
        rules: {
            EmailId: {
                required: true,
                email: true,
            },
        },
        messages: {
            EmailId: {
                required: '* Email required',
                email: '* Enter your valid email'
            },
        }
    });
    $("#UserLogin").click(function () {
        $("#UserLogin").prop('disabled', true);
        if ($("#LoginForm").valid()) {
            var EmailId = $("#EmailId").val();
            $.ajax({
                type: 'POST',
                url: '/Account/ForgotPassword',
                data: {
                    Email: EmailId
                },
                success: function (response) {
                    if (response.result == true) {
                        window.location.href = "/login?msg=" + response.msg;
                        $("#UserLogin").prop('disabled', false);
                    }
                    else {
                        alert(response.msg);
                        $("#UserLogin").prop('disabled', false);
                    }
                },
                error: function (response) {
                    alert("Something went wrong");
                    $("#UserLogin").prop('disabled', false);
                }
            });
        }
        $("#UserLogin").prop('disabled', false);
    });
</script>

