
@{
    ViewBag.Title = "Login";
    var message = Convert.ToString(TempData["ConfirmEmail"]);
}

<link href="~/Content/LoginCss.css" rel="stylesheet" />

<style>
    footer {
        margin-top: 0;
    }

    .login-box {
        padding: 5rem 0;
        max-width: 1500px;
    }

    .logon-wrap {
        background-color: #ffffff4d;
        padding: 3rem 1rem;
        margin: 0 0.5rem;
        border-radius: 10px;
    }

    .inbor {
        border: 1px solid #21252908;
        background: #21252908;
    }
</style>

<div class="img" style="background-image: url(/Content/Images/login-bg.png);">
    <section class="ftco-section">
        @{
            Html.RenderPartial("PartialLogin");
        }
    </section>
</div>
