
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserEmail = Convert.ToString(ViewBag.Email);
}


<link href="~/Content/LoginCss.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>

<style>
    footer {
        margin-top: 0;
    }

    .login-box {
        padding: 5rem 0;
        max-width: 1500px;
    }

    .logon-wrap {
        background-color: #ffffff4d;
        padding: 3rem 1rem;
        margin: 0 0.5rem;
        border-radius: 10px;
    }

    .inbor {
        border: 1px solid #21252908;
        background: #21252908;
    }
</style>

<div class="img" style="background-image: url(/Content/Images/login-bg.png);">
    <section class="ftco-section">
        <div class="container login-box">

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="logon-wrap">
                        <div class="login-wrap p-0">
                            <h3 class="mb-4 text-center">Password Reset </h3>
                            <form id="LoginForm" class="signin-form">
                                <input value="@UserEmail" name="Email" id="EmailId" hidden />
                                <div class="form-group">
                                    <input id="password" type="password" name="Password" class="form-control inbor" placeholder="Password" required>
                                    <span toggle="#password-field" class="bi bi-eye-slash- field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <input id="password-field" type="password" name="PasswordConfirm" class="form-control inbor" placeholder="Confirm Password" required>
                                    <span toggle="#password-field" class="bi bi-eye-slash- field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="form-control btn btn-primary submit px-3" id="UserLogin">Reset</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(".toggle-password").click(function () {

        $(this).toggleClass("bi-eye bi-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $("#UserLogin").prop('disabled', false);
    $("#LoginForm").validate({
        rules: {
            Password: {
                required: true,
                minlength: 5
            },
            PasswordConfirm: {
                required: true,
                minlength: 5,
                equalTo: "#password"
            }
        },
        messages: {
            Password: {
                required: '* Password required',
                minlength: '* Password should be min 5 characters',
            },
            PasswordConfirm: {
                required: '* Repeat Password required',
                minlength: '* Repeat password doen not match password',
                equalTo: '* Repeat password doen not match password'
            }
        }
    });
    $("#UserLogin").click(function () {
        $("#UserLogin").prop('disabled', true);
        if ($("#LoginForm").valid()) {
            var EmailId = $("#EmailId").val();
            $.ajax({
                type: 'POST',
                url: '/Account/ResetPassword',
                data: {
                    email: EmailId,
                    password: $("#password").val(),
                },
                success: function (response) {
                    window.location.href = "/login?msg=" + response.msg;
                    $("#UserLogin").prop('disabled', false);
                },
                error: function (response) {
                    alert("Something went wrong");
                    $("#UserLogin").prop('disabled', false);
                }
            });
        }
        else {
        }
        $("#UserLogin").prop('disabled', false);
    });
</script>

